if status is-interactive
    # Commands to run in interactive sessions can go here
end

function firstRun
    dconf load /org/mate/ < /MateConfig
    sleep 1
    sudo systemctl start dhcpcd
    sleep 20

    set -l eth (ip link show | grep -E 'en[[:alnum:]]' | grep 'state UP')

    set -l wifi (ip link show | grep -E 'wl[[:alnum:]]' | grep 'state UP')

    if test -z "$eth" -a -z "$wifi"
        echo "No active Ethernet or WiFi connection found. Please connect to a network and try again."
        return 1
    end

    sudo pacman -Syu --noconfirm
end

function startUp
	sudo systemctl start dhcpcd
    sleep 15
    sudo pacman -Syu --noconfirm
end

function installHaskell
    curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
end

function rebuild
    cabal clean && cabal build
end

function record
	ffmpeg -f x11grab -video_size 1920x1080 -framerate 25 -i $DISPLAY -c:v ffvhuff $argv
end

function newHasky
    if test -z $argv[1]
        echo "Usage: newHasky <project-name>"
        return 1
    end
  
    set project_name $argv[1]
    set project_dir (realpath $project_name)

    mkdir -p $project_dir
    cd $project_dir

    mkdir -p src/ test/ app/

    echo "# $project_name" > README.md

    echo "MIT License" > LICENSE

    echo "/dist-newstyle/" > .gitignore

    echo "cabal-version:  3.0
name:           $project_name
version:        0.1.0.0
license:        MIT
build-type:     Simple

library
  exposed-modules:
      Lib
  hs-source-dirs:
      src
  build-depends:
      base >= 3 && < 7
  default-language: Haskell2010

executable $project_name
  hs-source-dirs:  app
  main-is:         Main.hs
  build-depends:   base >= 3 && < 7
                   , $project_name
  default-language: Haskell2010" > "$project_name.cabal"

    echo "module Main where

import Lib (someFunc)

main :: IO ()
main = someFunc" > app/Main.hs

    echo "module Lib
    ( someFunc
    ) where

someFunc :: IO ()
someFunc = putStrLn \"Project Setup!\"" > src/Lib.hs
    
    echo "main :: IO ()
main = putStrLn \"Test suite not yet implemented\"" > test/Test.hs

    cabal build
    cabal run $project_name

    echo "Created new Haskell Lib project '$project_name' in $project_dir"
end

function newPy 
    if test -z $argv[1]
        echo "Usage: newPy <project-name>"
        return 1
    end
  
    set py_name $argv[1]
    set py_dir (realpath $py_name)

    mkdir -p $py_dir
    cd $py_dir

    mkdir -p tests/ app/  

    echo "# $py_name" > README.md

    echo "#!/usr/bin/env python3" > setup.py

    echo "#!/usr/bin/env python3" > app/__init__.py

    echo "#!/usr/bin/env python3" > app/__main__.py

    echo "#!/usr/bin/env python3" > utils.py

    echo "Created new Python project '$py_name' in $py_dir"
end

set PATH $HOME/.local/bin $PATH

set -q GHCUP_INSTALL_BASE_PREFIX[1]; or set GHCUP_INSTALL_BASE_PREFIX $HOME ; set -gx PATH $HOME/.cabal/bin $PATH $HOME/.ghcup/bin
